<!DOCTYPE html>
<html>
    <head>
        <mate charest="utf-8" />
        <meta name="keywords" content="Editor.md, Markdown, Editor" />
        <title>Hello world!</title>
        <style type="text/css">
            body{font-size:14px;color:#444;font-family: "Microsoft Yahei", Tahoma, "Hiragino Sans GB", Arial;background:#fff;}
            ul{list-style: none;}
            img{border:none;vertical-align: middle;}
        </style>
    </head>
    <body>
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
        <h1 class="text-xxl">Hello world!</h1>
        <p class="text-green">Plain text</p>
        <img src="https://media-image1.qiniu.baydn.com/soup_pub_image/ccdbwr/af3cbe4846479393f1a4f7b445f6ed44.7966adecc8ceb2b852766c47a87cf523.png" width="20%">
    </body>
</html>